[submodule "docs/_themes"]
	path = docs/_themes
	url = git@github.com:rootpy/rootpy-sphinx-theme
[submodule "rootpy/root2array/root_numpy"]
	path = rootpy/root2array/root_numpy
	url = git@github.com:rootpy/root_numpy
