Noel Dawe <noel.dawe@gmail.com> end <end@4525493e-7705-40b1-a816-d608a930855b>
Noel Dawe <noel.dawe@gmail.com> Noel
Noel Dawe <noel.dawe@gmail.com> <Noel.Dawe@cern.ch>

Evan Friis <ekfriis@gmail.com> <evan.friis@cern.ch>
Evan Friis <ekfriis@gmail.com> Evan K. Friis
Evan Friis <ekfriis@gmail.com> Evan Klose Friis (CMS postdoc) <efriis@login01.hep.wisc.edu>

Peter Waller <p@pwaller.net> <peter.waller@cern.ch>
Peter Waller <p@pwaller.net> <peter.waller@gmail.com>
Peter Waller <p@pwaller.net> <peter@pwaller.net>

Alessandro Thea <timelike@gmail.com> Alessandro <timelike@gmail.com> 
