setenv PATH @@install_scripts@@:$PATH
if ($?PYTHONPATH) then 
    setenv PYTHONPATH @@install_purelib@@:$PYTHONPATH
else 
    setenv PYTHONPATH @@install_purelib@@
endif 
setenv PYROOT_SYS @@install_dir@@
