setenv PATH @@install_scripts@@:$PATH
if ($?PYTHONPATH) then 
    setenv PYTHONPATH @@install_purelib@@:$PYTHONPATH
else 
    setenv PYTHONPATH @@install_purelib@@
endif 
setenv ROOTPY_DATA ~/.rootpy
setenv LD_LIBRARY_PATH ${LD_LIBRARY_PATH}:${ROOTPY_DATA}/dicts
setenv ROOTPY_SYS @@install_dir@@
